*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    
}

.header {
    background: url('menu.jpg') center/cover no-repeat;
    min-height: 100vh;
    text-align: center;
}

.header h1 {
    color: black;
    font-family:  "Brush Script MT";
    font-size: 100px;
    text-decoration: overline ;
    text-shadow: 2px 2px 5px gold;
    text-transform: uppercase;
}

.header h2 {
    color: whitesmoke;
    font-family:"Papyrus";
    font-size: 64px;
    position: relative;
    text-shadow: 2px 2px 5px black;
}
