*, *::before, *::after {
    box-sizing: border-box;
    font-family:"Gotham Rounded";
    font-weight: normal;
}

body {
    background: url('menu.jpg') center/cover no-repeat;
    margin: 0;
    padding: 0;
}

.calculatorLook {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculatorLook > button {
    background-color: #35353a;
    border: 1px solid black;
    cursor: pointer;
    font-size: 2rem;
    outline: none;
}

.calculatorLook > button:hover {
    background-color: rgba(255, 255, 255, .9);

}

.bigger {
    grid-column: span 2;
}

.output {
    align-items: flex-end;
    background-color:rgb(204, 198, 192);
    display: flex;
    flex-direction: column;
    grid-column: 1 /-1;
    justify-content: space-between;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previousResult {
    color: rgba(29, 28, 28, 0.75);
    font-size: 1.5rem;
}

.output .currentResult {
    color: black;
    font-size: 2.5rem;
}